
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,600;1,700;1,900&display=swap'); 

body{
    max-width: 1250px;
    margin: 0 auto;
    font-size: 1.6rem;
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

.cabecalho{
    padding: 30px 15px;
    position: relative;
}

.cabecalho .logo{
    background-image: url(../imagens/logo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 85px;
    height: 85px;
    display: inline-block;
}

.cabecalho .logo h1{
    font-size: 0;
}

.cabecalho .barra-de-navegacao{
    display: inline-block;
    position: absolute;
    right: 0;
    margin-top: 30px;
}

.cabecalho .barra-de-navegacao ul li{
    display: inline-block;
    padding: 15px;
}

.cabecalho .barra-de-navegacao ul li a:hover{
    font-weight: bold;
}

/*Painel*/

main .painel{
    background-image: url(../imagens/painel.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    position: relative;
}

main .painel h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
    color: #fff;
    font-weight: 400;
}

main .secao-com-texto{
    padding: 153px;
    text-align: center;
    clear: both;
}

main .secao-com-texto header img{
    width: 170px;
    height: 170px;
}

main .secao-com-texto header h2{
    font-weight: 600;
    font-size: 45px;
    padding: 50px 0;
}

main .secao-com-texto p{
    width: 700px;
    font-size: 18px;
    margin: 0 auto;
}

main .secao-com-texto .onde-estamos p{
    width: 309px;
    font-size: 28px;
}

.ladrilho div{
    float: left;
}

.ladrilho .grande{
    background-image: url(../imagens/4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 600px;
}

.ladrilho .pequena{
    background-image: url(../imagens/3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25%;
    height: 300px;
}

.ladrilho .pequena.grao{
    background-image: url(../imagens/2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25%;
    height: 300px;
}

.ladrilho .medio{
    background-image: url(../imagens/1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 300px;
}

.contato{
    background-image: url(../imagens/fundo-contato.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    height: 600px;
    position: relative;
}

.contato .texto{
    position: absolute;
    left: 50%;
    top: 30%;
}

.contato h2{
    font-size: 45px;
    font-weight: 600;
}

.contato address{
    font-size: 20px;
    font-weight: 600;
    padding: 20px 0;
}


.robape{
    background-image: url(../imagens/fundo-rodape.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 35px 30px;
}

.robape ul{
    float: right;
    margin-top: 35px;
}

.robape ul li{
    display: inline-block;
    padding: 15px;

}

.robape ul li a{
    color: #fff;
}

.robape ul li a:hover{
    font-weight: bold;
}

.robape .copyright{
    color: #fff;
}

.robape .redes-sociais .facebook,
.robape .redes-sociais .instagram{
    width: 20px;
    height: 20px;
    margin: 10px;
}

.robape .redes-sociais{
    float: right;
    clear: both;
}

.robape .contaeudo-alinahdo{
    margin-top: 40px;
}
